*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/javascript/node_modules
/javascript/.idea/caches/build_file_checksums.ser
/javascript/.idea/libraries
/javascript/.idea/modules.xml
/javascript/.idea/workspace.xml
